<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <!-- <link rel="stylesheet" href="../static/css/styles.css" /> -->
    <link rel="stylesheet" href="/CSS/login.css" />
</head>
<body>
    <div class="flex-div">
    <div class="container">
        <div class="heading">Entrar</div>
        <form th:action="@{/login}" method="post" class="form">
          <input type="hidden" name="_csrf" th:value="${_csrf.token}">  
          <input required="" class="input" type="text" name="username" id="username" placeholder="Usuário">
          <input required="" class="input" type="password" name="password" id="password" placeholder="Senha">
          <span class="forgot-password"><a href="#">Esqueceu a senha?</a></span>
          <input class="login-button" type="submit" value="Entrar">
          
        </form>
        
    </div>
</div>
</body>
</html>
