header{
    .navbar{
        background-color: #2eaebff0 !important;
    }
}

a {
    text-decoration: none;
}

.modal-content {
    .modal-header {
        justify-content: space-between;
    }
}

footer{
    background-color: #2eaebff0 !important;
}

.span-footer, .mb-1{
    color: antiquewhite;
}

.mb-4{
    background-color: #2eaebff0 !important; 
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    
}

.in {
    opacity: 1 !important;
}

.modal-backdrop{
    z-index: auto;
}